.carousel-item img{
    height:100vh;
    height:550px;
    background-size:cover;
    background:no-repeat scroll center scroll;
}
/* .box-heritage{
    background-color: #fff;
    height:200px;
    width:300px;
} */